*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Suisse', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #050505;
  color: #fafafa;
	scroll-behavior: smooth;
}

body {
  opacity: 0.1;
  transition: opacity 0.6s ease-in-out;
}

body.loaded {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}

a{
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/AeonikProRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Mono';
  src: url('fonts/AeonikMonoProRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.title{
	font-family: 'Aeonik', serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
}

.text{
	font-family: 'Aeonik', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
}

.uppercase-text{
	font-family: 'Aeonik Mono', serif;
	font-size: 11px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}

.main{
	position: relative;
	padding: 20px 20px 10px 20px;
	height: 100%;
}

#header{
	display: grid;
  grid-template-columns: 22% 22% 22% 22%;
	column-gap: 4%;
	
  position: fixed;
	top: 0;
	left: 0;
  width: 100%;
	padding: 20px 20px 0 20px;
  z-index: 1000;
	transition: 0.6s all;
}

.header .uppercase-text:nth-child(4){
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.section{
	display: grid;
  grid-template-columns: 22% 22% 22% 22%;
	column-gap: 4%;
}

.subtitle-text{
	grid-column-start: 3;
	margin: 376px 0;
}

@keyframes marginAnimation {
  0% {
    margin: 376px 0;
  }
  100% {
    margin: 240px 0;
  }
}

.subtitle-text.animate-margin {
  animation: marginAnimation 0.6s cubic-bezier(0.5, 0.20, 0.15, 1) 0.6s forwards;
}

.section .uppercase-text{
	grid-column-start: 1;
	display: flex;
	align-items: end;
}

.section .logotype{
	content: url(images/logo-light.svg);
	grid-column-start: 3;
	grid-column-end: 5;
	height: auto;
	width: 100%;
}

.cases-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

.case-block{
	display: grid;
  grid-template-columns: 22% 22% 22% 22%;
	column-gap: 4%;

	height: 945px;
	width: 100%;
	background-color: #151515;
	position: relative;
	z-index: 1;
}

.case-block .title{
	grid-column-start: 1;
	margin: auto 0 auto 20px;
}

.case-info{
	grid-column-start: 3;
	display: grid;
	align-self: end;
	gap: 20px;
	margin-bottom: 40px;
}

.case-link{
	position: absolute;
	inset: 0;
	z-index: 1;
}

.button{
	position: relative;
	z-index: 2;
}

.button:before{
	content: url(images/arrow-right.svg);
	position: absolute;
	width: 10px;
	top: 0;
	right: -20px;
	transition: all 0.3s ease;
}

.button:hover:before{
  right: -25px;
	transition: all 0.3s ease;
	opacity: 0;
}

.button:after{
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fafafa;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.button:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.footer{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer .logotype{
	content: url(images/logo-light.svg);
	grid-column-start: 1;
	grid-column-end: 5;
	width: 100%;
	margin: 200px 0 20px 0;
}

.footer .text:nth-child(3){
	display: flex;
	justify-content: center;
	gap: 5px;
}

.footer .text:nth-child(4){
	display: flex;
	justify-content: flex-end;
}

.socials a{
	position: relative;
}

.socials a::after{
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fafafa;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.socials a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

/* Адаптация */
@media (max-width: 1440px) {
	.case-block{
		height: 100vh;
	}

	.subtitle-text{
		grid-column-start: 3;
		margin: 354px 0;
	}
	
	@keyframes marginAnimation {
		0% {
			margin: 354px 0;
		}
		100% {
			margin: 240px 0;
		}
	}
}

@media (max-width: 1024px){
	.subtitle-text{
		grid-column-start: 3;
		grid-column-end: 5;
	}

	.case-info{
		grid-column-start: 3;
		grid-column-end: 5;
		margin-right: 20px;
	}

	.subtitle-text{
		grid-column-start: 3;
		margin: 306px 0;
	}
	
	@keyframes marginAnimation {
		0% {
			margin: 306px 0;
		}
		100% {
			margin: 240px 0;
		}
	}
}

@media (max-width: 768px) {
	.header .uppercase-text:nth-child(2){
		display: none;
	}

	.header .uppercase-text:nth-child(3){
		grid-column-start: 4;
		text-align: right;
	}

	.header .uppercase-text:nth-child(4){
		display: none;
	}

	.subtitle-text{
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 260px 0;
	}
	
	@keyframes marginAnimation {
		0% {
			margin: 260px 0;
		}
		100% {
			margin: 200px 0;
		}
	}

	.section .uppercase-text{
		display: none;
	}

	.section .logotype{
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.case-block{
		height: 60vh;
	}

	.case-block .title{
		grid-column-start: 1;
		grid-column-end: 5;
		margin: auto auto 20px auto;
	}

	.case-info{
		display: none;
	}

	.footer .text:nth-child(3){
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.footer .text:nth-child(2), .footer .text:nth-child(4){
		display: none;
	}
}

@media (max-width: 440px) {
	.main{
		padding: 10px;
	}

	.header{
		padding: 10px 10px 0 10px !important;
	}

	.header .uppercase-text:nth-child(1){
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.header .uppercase-text:nth-child(3){
		grid-column-start: 3;
		grid-column-end: 5;
		text-align: right;
	}

	.subtitle-text{
		grid-column-start: 1;
		grid-column-end: 5;
		margin: 260px 0;
	}
}